# Configuración de Firebase (Públicas)
NEXT_PUBLIC_FIREBASE_PROJECT_ID="rutero-fed"

# Configuración de Nodemailer / Gmail
# EMAIL_USER: Tu dirección de correo institucional o de Gmail.
# EMAIL_PASS: La "Contraseña de Aplicación" de 16 caracteres generada en tu cuenta de Google.
EMAIL_USER="tu-usuario@gmail.com"
EMAIL_PASS="xxxx xxxx xxxx xxxx"

# Secreto para el cron job (opcional)
CRON_SECRET="tu_secreto_aqui"
