@import 'leaflet/dist/leaflet.css';
@import '@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 67% 96%;
    --foreground: 231 99% 15%;
    --card: 0 0% 100%;
    --card-foreground: 231 99% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 99% 15%;
    --primary: 231 99% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 90%;
    --secondary-foreground: 231 99% 20%;
    --muted: 231 20% 90%;
    --muted-foreground: 231 20% 40%;
    --accent: 81 68% 43%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 85%;
    --ring: 231 99% 27%;
    --chart-1: 231 80% 50%;
    --chart-2: 81 70% 45%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 81 68% 43%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 81 68% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
